* {
  /* margin: 0;
  padding: 0; */
  background-color: lavender;
  font-family: 'Dongle', sans-serif;
}

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 250%;
}